<!doctype html>
<html lang="en" data-ng-app="sass-mixin-collection">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>Sass Mixins Collection</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/node_modules/material-design-lite/material.min.css">
        <link rel="stylesheet" href="/node_modules/angular/angular-csp.css">
        <link rel="stylesheet" href="/node_modules/highlight.js/styles/railscasts.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header mdl-color--grey-100" data-ng-controller="MainController">
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title sub-title"><strong>{{mixins.length}}</strong> mixins available!</span>
                <nav class="mdl-navigation">
                    <div ng-repeat="mixinItem in mixins">
                        <a class="mdl-navigation__link"  href="#cat_{{mixinItem.name}}">{{mixinItem.name}}</a>
                    </div>
                </nav>
            </div>
            <main class="mdl-layout__content">
                <div class="page-content">
                    <div class="mdl-grid mdl-grid--no-spacing">
                        <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset">
                            <h1 class="main-title">{{title}}</h1>
                            <form class="search" action="#">
                                <input class="search__input mdl-shadow--16dp" type="text" data-ng-model="searchMixinName" placeholder="Search mixin name...">
                                <i class="material-icons search__icon">search</i>
                            </form>
                            <div ng-repeat="mixin in mixins | filter: searchMixinName">
                                <div class="demo-card-wide mdl-card mdl-shadow--2dp" id="cat_{{mixin.name}}">
                                    <div class="mdl-card__title">
                                        <h2 class="mdl-card__title-text mdl-button mdl-js-button mdl-button--raised mdl-button--colored">{{mixin.name}}</h2>
                                    </div>
                                    
                                    <div hljs hljs-include="mixin.name" hljs-language="css"></div>
                                </div>
                            </div>
                            
                            <!-- Message no result -->
                            <h5 class="no-result" ng-show="(mixins | filter:searchMixinName).length == 0">No result to display</h5>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <!-- Script -->
        <script src="/node_modules/material-design-lite/material.min.js"></script>
        <script src="/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="/node_modules/angular/angular.min.js"></script>
        <!-- <script src="/node_modules/highlight.js/lib/highlight.js"></script> -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
        <script src="/node_modules/angular-highlightjs/angular-highlightjs.min.js"></script>
        <script src="scripts/main.js"></script>

<!-- List mixins -->
<script type="text/ng-template" id="truncate">
@mixin text-overflow() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
</script>

<script type="text/ng-template" id="truncate-multiline">
@mixin truncate-multiline($line: 3) {
	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
}
</script>

<script type="text/ng-template" id="at-root">
@mixin root-siblings($selector) {
    @at-root #{$selector}#{&} {
        @content;
    }
}
</script>

<script type="text/ng-template" id="detect-device">
@mixin device($device, $orientation) {
    // Iphone 4 portrait
    @if $device == "iphone4" and $orientation == "portrait" {
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
            @content;
        }
    }
    // Iphone 4 landscape
    @else if $device == "iphone4" and $orientation == "landscape" {
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
            @content;
        }
    }
    // Iphone 5 portrait
    @else if $device == "iphone5" and $orientation == "portrait" {
        @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
            @content;
        }
    }
    // Iphone 5 landscape
    @else if $device == "iphone5" and $orientation == "landscape" {
        @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
            @content;
        }
    }
}
</script>

<script type="text/ng-template" id="font-smoothing">
@mixin font-smoothing($value) {
    @if $value == "on" {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    @if $value == "off" {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}
</script>

<script type="text/ng-template" id="placeholder">
@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
    &.placeholder {
        @content;
    }
}
</script>

<script type="text/ng-template" id="transform-centering">
@mixin transform-centering($scope) {
    & {
        position: absolute;
    }

    @if $scope == "vertical" {
        & {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    @if $scope == "horizontal" {
        & {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    @if $scope == "horizontal-and-vertical" {
        & {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
</script>

<script type="text/ng-template" id="flexbox-centering">
@mixin flexbox-centering($scope) {
    & {
        display: flex;
    }

    @if $scope == "vertical" {
        & {
            align-items: center;
        }
    }

    @if $scope == "horizontal" {
        & {
            justify-content: center;
        }
    }

    @if $scope == "horizontal-and-vertical" {
        & {
            align-items: center;
            justify-content: center;
        }
    }
}
</script>
<!-- End -->

    </body>
</html>
